<div class="uk-background-primary uk-light">
  <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: icon-color-light; ratio: 0.15"></span>
        </a>
        <ul class="uk-navbar-nav">
          <li><a href="#">Produtos</a></li>
          <li><a href="#">Meus Pets</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a href="#">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<br>

<!-- <div class="uk-container">
  <h3>Catálogo de Produtos</h3>
  <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.</p>
  <br>

  <div class="uk-grid">
    <div class="uk-width-1-2 uk-margin-small-bottom">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
          <img src="https://picsum.photos/200" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">R$ 79,90</h3>
            <p>Shampoo para pelos macios</p>
            <button class="uk-button uk-button-default"><span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
              Adicionar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-width-1-2 uk-margin-small-bottom">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
          <img src="https://picsum.photos/200" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">R$ 79,90</h3>
            <p>Shampoo para pelos macios</p>
            <button class="uk-button uk-button-default"><span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
              Adicionar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-width-1-2 uk-margin-small-bottom">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
          <img src="https://picsum.photos/200" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">R$ 79,90</h3>
            <p>Shampoo para pelos macios</p>
            <button class="uk-button uk-button-default"><span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
              Adicionar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-width-1-2 uk-margin-small-bottom">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
          <img src="https://picsum.photos/200" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">R$ 79,90</h3>
            <p>Shampoo para pelos macios</p>
            <button class="uk-button uk-button-default"><span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
              Adicionar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="uk-container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">Meus Pets</li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
            Adicionar</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="uk-container">
  <div uk-grid>
    <div class="uk-width-1-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <br>
          <p class="uk-text-center"><img src="https://placehold.it/250" class="uk-border-circle" alt=""></p>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Media Top</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p>
            <a href="#" class="uk-button uk-button-default">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: pencil"></span>
              Editar
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="uk-width-1-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <br>
          <p class="uk-text-center"><img src="https://placehold.it/250" class="uk-border-circle" alt=""></p>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Media Top</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p>
            <a href="#" class="uk-button uk-button-default">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: pencil"></span>
              Editar
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="uk-container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">Meu Carrinho</li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="#">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: close"></span>
            Limpar Carrinho
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="uk-container">
  <ul class="uk-list uk-list-divider">
    <li>
      <img src="https://placehold.it/64" class="uk-align-left" alt="">
      List item 1 <br>
      Lorem ipsum dolor sit amet
    </li>
    <li>List item 2</li>
    <li>List item 3</li>
  </ul>

  <div class="uk-grid-small" uk-grid>
    <div class="uk-width-expand" uk-leader>
      <img src="https://placehold.it/64" class="uk-align-left" alt="">
      <a href="#">Shampoo para pelos macios</a> <br>
      <strong>2 unidades</strong>
    </div>
    <div>
      <br>
      $20.90
      <a href="#" class="uk-button uk-button-default uk-align-right">
        <span class="uk-icon" uk-icon="icon: pencil"></span>
      </a>
    </div>
  </div>
  <div class="uk-grid-small" uk-grid>
    <div class="uk-width-expand" uk-leader>
      <img src="https://placehold.it/64" class="uk-align-left" alt="">
      <a href="#">Shampoo para pelos macios</a> <br>
      <strong>2 unidades</strong>
    </div>
    <div>
      <br>
      $20.90
      <a href="#" class="uk-button uk-button-default uk-align-right">
        <span class="uk-icon" uk-icon="icon: pencil"></span>
      </a>
    </div>
  </div>
</div> -->
