<div class="card-placeholder">
  <mat-card>Simple card</mat-card>
</div>

<hr>

<div class="card-placeholder">
  <mat-card>
    <img mat-card-image src="https://placehold.it/500">

    <mat-card-header>
      <mat-card-title>Título</mat-card-title>
      <mat-card-subtitle>Subtítulo</mat-card-subtitle>
      <img mat-card-avatar src="https://placehold.it/64">
    </mat-card-header>

    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra commodo aliquet. Maecenas vitae ipsum et
      ipsum gravida varius. Aenean dignissim tempor scelerisque. Aenean sollicitudin luctus lectus. Aliquam hendrerit
      vestibulum sapien.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      Rodapé
    </mat-card-footer>
  </mat-card>
</div>
