<div class="uk-container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">Meu Carrinho</li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="#">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: close"></span>
            Limpar Carrinho
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="uk-container">
  <div class="uk-grid-small" uk-grid>
    <div class="uk-width-expand" uk-leader>
      <img src="https://placehold.it/64" class="uk-align-left" alt="">
      <a href="#">Shampoo para pelos macios</a> <br>
      <strong>2 unidades</strong>
    </div>
    <div>
      <br>
      $20.90
      <a href="#" class="uk-button uk-button-link uk-align-right">
        <span class="uk-icon" uk-icon="icon: close"></span>
      </a>
    </div>
  </div>
  <div class="uk-grid-small" uk-grid>
    <div class="uk-width-expand" uk-leader>
      <img src="https://placehold.it/64" class="uk-align-left" alt="">
      <a href="#">Shampoo para pelos macios</a> <br>
      <strong>2 unidades</strong>
    </div>
    <div>
      <br>
      $20.90
      <a href="#" class="uk-button uk-button-link uk-align-right">
        <span class="uk-icon" uk-icon="icon: close"></span>
      </a>
    </div>
  </div>
  <div class="uk-text-right">
    <h3 class="uk-text-right">
      R$ 41,80
    </h3>
    <a href="/checkout" class="uk-button uk-button-large uk-button-primary uk-margin-small-bottom">
      FINALIZAR COMPRA
    </a>
  </div>
</div>
