<div class="uk-container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">Meus Pets</li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
            Adicionar</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="uk-container">
  <div uk-grid>
    <div class="uk-width-1-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <br>
          <p class="uk-text-center"><img src="https://placehold.it/250" class="uk-border-circle" alt=""></p>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Media Top</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p>
            <a href="#" class="uk-button uk-button-default">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: pencil"></span>
              Editar
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="uk-width-1-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <br>
          <p class="uk-text-center"><img src="https://placehold.it/250" class="uk-border-circle" alt=""></p>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Media Top</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p>
            <a href="#" class="uk-button uk-button-default">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: pencil"></span>
              Editar
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
